.profile{
    background-color: #FFFFFF;
    display: table;
    margin-top: 50px;
    margin-left: auto;
        margin-right: auto;
}
.description{
    padding: 30px 50px;
}
.avatar{
    border-radius: 50%;
    display: block;
    margin: auto;
}
.stats{
    display: flex;
    justify-content:space-evenly;
    background-color: #F3F6F9;
    padding: 10px 0;
}
.quantity{
    display: block;
    font-weight: 700;
    text-align: center;
}
.name{
    font-weight:700;
    text-align: center;
}
.tag{
    text-align: center;
    color: #B3BBC4;
}
.location{
    text-align: center;
    color: #B3BBC4;
}
.label{
    display: block;
    color: #B3BBC4;
    text-align: center;
}
